{% extends 'base.html' %}

{% block content %}
  <h1>Tags <a class="btn btn-primary float-end mt-3" href="#">Add</a></h1>
	{% if tag_list %}
    	<table class="table">
        <tr>
          <th>Name</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
        {% for tag in tag_list %}
          <tr>
            <td>{{ tag.name }}</td>
            <td><a class="btn btn-secondary" href="#">Update</a></td>
            <td><a class="btn btn-secondary" href="#">Delete</a></td>
          </tr>
        {% endfor %}
      </table>
  {% else %}
    <p><strong>There are no tags</strong></p>
	{% endif %}
{% endblock %}
